.blogList {
    max-width: 960px;
}

.blogList :global(ul) {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.blogList :global(ul li) {
    width: calc(50% - 1rem);
}

.blogList :global(ul li *) {
    text-decoration: none;
    transition: 0.2s ease;
}

.blogList :global(ul li:first-child) {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.blogList :global(ul li:first-child img) {
    width: 100%;
}

.blogList :global(ul li:first-child) .title {
    font-size: 2.369rem;
}

.blogList :global(ul li img) {
    margin-bottom: 0.5rem;
    border-radius: 12px;
}

.blogList :global(ul li a) {
    display: block;
}

.title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
}

.date {
    margin: 0;
    color: rgb(var(--gray));
}

.blogList :global(ul li a:hover) .title,
.blogList :global(ul li a:hover) .date {
    color: rgb(var(--accent));
}

.blogList :global(ul a:hover img) {
    box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
    .blogList :global(ul) {
        gap: 0.5em;
    }

    .blogList :global(ul li) {
        width: 100%;
        text-align: center;
    }

    .blogList :global(ul li:first-child) {
        margin-bottom: 0;
    }

    .blogList :global(ul li:first-child) .title {
        font-size: 1.563em;
    }
}