---
// Card.astro
import type { CardProps } from '../types';
import { Icon } from 'astro-icon/components'

interface Props extends CardProps {}

const {
    header,
    referenceLink,
    referenceLinkText = 'Learn More' // default text if not provided
} = Astro.props;
---

<div class="relative w-full max-w-lg">
    <div class="bg-white rounded-lg shadow-lg p-4 border border-gray-200 hover:shadow-xl transition-shadow">
        <a href={referenceLink} class="group">
            <h2 class="flex justify-between text-xl font-bold text-gray-800 mb-4 hover:text-blue-600 transition-colors duration-200">
                {header}
                <Icon name="mdi:open-in-new" class="w-6 h-6 group-hover:text-blue-600 transition-colors duration-200"/>
            </h2>
        </a>

        <div class="mb-6">
            <p class="text-gray-600">
                <slot/>
            </p>
        </div>
    </div>
</div>