---
import config from "../content/config/config.json";
import IconLink from "./react/IconLink";
const today = new Date();
import styles from './Footer.module.css';
---

<footer class={styles.copyrightFooter}>
    &copy; {today.getFullYear()}
    {config.seo.siteOwner}. All rights reserved.
    <div class={styles.socialLinks}>
        {
            config?.contactLinks?.map((link) => {
                return (
                        <IconLink {...link} />
                );
            })
        }
    </div>
</footer>

