.menu {
    flex-grow: 1;           /* grow */
    flex-shrink: 1;         /* shrink */
    overflow-y: auto;

    list-style: none;
    margin: 0;
    padding: 0;
}

.menuItem {
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;        /* text-base */
    text-decoration: none;
    display: block;
}

.active {
    background-color: var(--base-300); /* bg-base-300 */
}
